//- partials/bottom.jade

//- SCRIPTS
script(src="/vendor/jquery/jquery.min.js")
script(src="/vendor/bootstrap/js/bootstrap.min.js")
script(src="/vendor/angular/angular.min.js")
script(src="js/vendor.js")
script(src="js/scripts.js")

