footer#footer
  .container
    h6 All Projects are rights reserved. Copyright 2015
    ul.contacts.list-inline
      li
        a.fa.fa-facebook-official(href="https://www.facebook.com/jayaregalinada", target="_BLANK")
      li
        a.fa.fa-twitter(href="https://www.twitter.com/jayaregalinada", target="_BLANK")
      li
        a.fa.fa-google-plus(href="https://plus.google.com/+JayAreGalinada", target="_BLANK")
      li
        a.fa.fa-tumblr(href="http://undistinguished.tumblr.com", target="_BLANK")
      li
        a.fa.fa-steam(href="https://steamcommunity.com/id/jayaregalinada", target="_BLANK")
      li
        a.fa.fa-github(href="https://www.github.com/jayaregalinada", target="_BLANK")
      li
        a.fa.fa-linkedin(href="https://www.linkedin.com/in/jayaregalinada", target="_BLANK")
      li
        a.fa.fa-skype(href="skype:jayaregalinada")
      li
        a.fa.fa-envelope(href="mailto:jayaregalinada@gmail.com", target="_BLANK")


