doctype html
html(lang="en")
  head
    include ./partials/head.jade
  body
    include ./partials/banner.jade
    include ./partials/category_navigation.jade


    div.clearfix(ui-view="projects")

    include ./partials/footer.jade
    include ./partials/bottom.jade


